<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhatsApp Messaging App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">WhatsApp App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_contact' %}">Add Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'list_contacts' %}">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'upload_contacts_csv' %}">Upload CSV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'send_message' %}">Send Message</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'schedule_message' %}">Schedule Message</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact_statistics' %}">Statistics</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
